<% layout('layout') -%>

<style>
    img{
        border-radius: 40px;
        margin-top: 100px;
    }
</style>
<script>
    function sendPush(TOKEN){
        var url = "/sendFcm";
        var params = {
            TOKEN:TOKEN,
            TITLE: prompt('타이틀을 입력해주세요'),
            MSG: prompt('내용을 입력해주세요.')
        };
        var sucessFunc = function(data) {
          };
        ajaxCall(url, params, sucessFunc);
    };
</script>
<div id="content">
    <div id="gridTable2" class="item W40p H40p">
        <form id="FILE_FORM" name="FILE_FORM"  action="/uploadApk" method="POST" enctype="multipart/form-data" >
            <table class="table01 H100p W100p" >
                <thead>
                    <tr>
                        <th>사용자 ID</th>
                        <th>푸쉬 알람 보내기</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<resultList.length; i++){ %>
                        <tr>
                            <td><%=resultList[i].USER_ID%></td>
                            <td><a href="" onclick="sendPush('<%=resultList[i].TOKEN%>');return false;">보내기</a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </form>
    </div>
    


</div>