<% layout('layout') -%>

<script>
    $(function(){
        getMenu();
    });

    // 안드로이드 라벨 스캔시 실행 함수
    function appScan(lbl_id){
        alert( lbl_id );
    };
    function getMenu(){
      var url = "/m/menu";
      var params = $("#lblForm").serialize();
      var sucessFunc = function(data) {
        $("#ajaxHtml").html(""); 
        $("#ajaxHtml").html(data);
      };
      ajaxCallHtml(url, params, sucessFunc);
    };
</script>
<div id="content">
    <div id="ajaxHtml" class="MgT30 W100p"></div>
</div>


