<% layout('../layout') -%>

<script>
    $(function(){
      goSearch();
    });

    // 안드로이드 라벨 스캔시 실행 함수
    function appScan(lbl_id){
        alert( lbl_id );
    };
    function goSearch(){
      var url = "/m/user/table";
      var params = $("#editForm").serialize();
      var sucessFunc = function(data) {
        $("#ajaxHtml").html(""); 
        $("#ajaxHtml").html(data);
      };
      
      ajaxCallHtml(url, params, sucessFunc);
    };
</script>

<div id="content">
    <h2 class="H5p"> - 사용자 조회 - </h2>
    <form name="editForm" id="editForm" class="H5p">
      <input type="text" name="USER_ID" class="AC" placeholder="User ID를 입력해주세요." maxlength="15">
    </form>
    <button class="btn_1 H5p MgT10" onclick="goSearch();">Search</button>
    <div id="ajaxHtml" class="H75p scroll_Y MgT30 W100p"></div>
</div>


